* {
    box-sizing: border-box;
}

h1 {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

div {
    width: 100%;
    text-align: center;
}

div image {
    max-height: 450;
    max-width: 1024;
}