* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
  
a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: gray;
}

a:visited {
  color: blue;
}

nav {
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  height: 100%;
  width: 180px;
  background-image: url("../media/map.jpg");
}

nav ul {
  height: 100%;
  list-style-type: none;
}

nav li {
  margin-bottom: 40px;
}

#main {
  padding-right: 210px;
  margin-left: 10px;
  width: 100%;
}

.bg1 {
  width: 99%;
  height: 35px;
  transform: skew(30deg);
  padding-top: 0.002rem;
  padding-left: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgb(186, 194, 209),
    rgb(240, 242, 245)
  );
}

.bg2 {
  width: 100.5%;
  margin-top: 0.5%;
  transform: skew(0deg);
  background: rgb(149, 176, 224);
  background-image: linear-gradient(
    to right,
    rgb(112, 150, 216),
    rgb(209, 222, 248)
  );
  text-align: center;
}

h1 {
  transform: skew(-30deg);
  padding-left: 15px;
  padding-top: 4px;
}

article {
  margin: 2% 5%;
}

.info_wrapper {
  display: table;
  width: 100%;
  margin-left: 23%;
  padding-bottom: 15px;
}

.contact {
  display: table-cell;
}

.socials {
  display: table-cell;
}

.workplace {
  font-size: 24px;
}

.date {
  font-size: 18px;
}

.work_title {
  font-size: 18px;
  margin-bottom: 10px;
}

.work_heading h2 {
  display: table;
  width: 100%;
}

.date {
  display: table-cell;
  text-align: right;
}

.work_section:not(:first-child) {
  margin-top: 30px;
}

.column {
  float: left;
  width: 43%;
}

.row {
  display: table;
  width: 100%;
  margin-left: 23%;
}